<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096456258246-p8rg3vbp34hgpg717in4ui5d5d1qnsnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096456258246-p8rg3vbp34hgpg717in4ui5d5d1qnsnq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1096456258246-c9ra4surogo8ogh9enoosha8l1hj71i9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKT6wadJ8HpL8NUWPgF90A12nVDjHA1PI</string>
	<key>GCM_SENDER_ID</key>
	<string>1096456258246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drawee</string>
	<key>PROJECT_ID</key>
	<string>drawee-f84dc</string>
	<key>STORAGE_BUCKET</key>
	<string>drawee-f84dc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096456258246:ios:69cdc622bf95543f450dc7</string>
</dict>
</plist>